<div class="lowin lowin-purple">
  <div class="lowin-brand">
    <img src="../../../assets/auth/kodinger.jpg" alt="logo" routerLink="/">
  </div>
  <div class="lowin-wrapper">
    <div class="lowin-box lowin-login">
      <div class="lowin-box-inner">
        <form>
          <p>Sign in to continue</p>
          <div class="lowin-group">
            <label>Username</label>
            <input type="text" autocomplete="email" name="email" class="lowin-input">
          </div>
          <div class="lowin-group password-group">
            <label>Password</label>
            <input type="password" name="password" autocomplete="current-password" class="lowin-input">
          </div>
          <button class="lowin-btn login-btn">
            Sign In
          </button>

          <div class="text-foot">
            Don't have an account? <a href="" class="register-link" routerLink="/auth/sign-up">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>