<section class="dash-user">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center">Stt</th>
        <th scope="col" class="text-center">Username</th>
        <th scope="col" class="text-center">Full Name</th>
        <th scope="col" class="text-center">Address</th>
        <th scope="col" class="text-center">Permission</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="onCheckedUser(user)" *ngFor="let user of users; let i=index">
        <th scope="row" class="text-center">{{i+1}}</th>
        <td>{{user.username}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.address}}</td>
        <td>{{user.role}}</td>
    </tbody>
    <div class="wrapping-button-group" *ngIf="isToggle">
      <button class="btn btn-primary">
        <span><i class="fa fa-plus"></i></span>
        Thêm
      </button>
      <button class="btn btn-danger">
        <span><i class="fa fa-trash"></i></span>
        Xóa</button>
      <button class="btn btn-warning">
        <span><i class="fa fa-edit"></i></span>
        Sửa
      </button>
    </div>
  </table>
</section>
