// :host {
//   display: flex;

//   app-side-menu {
//     // display: block;

//   }

//   .wrapping {
//     flex: 1;

//     app-header-manager {
//       // display: block;
//     }

//   }
// }
:host{
  display: flex;
  flex-direction: column;
  app-header-manager{
    height: 7vh;
  }
  .wrapping{
    display: flex;
    height: 93vh;
    .out-let{
      flex: 1;
      order: 2;
    }
  }
}
