<div class="lowin lowin-purple">
  <div class="lowin-brand">
    <img src="../../../assets/auth/kodinger.jpg" alt="logo" routerLink="/">
  </div>
  <div class="lowin-wrapper">
    <div class="lowin-box lowin-register">
      <div class="lowin-box-inner">
        <form>
          <p>Let's create your account</p>
          <div class="lowin-group">
            <label>Username</label>
            <input type="text" name="name" autocomplete="name" class="lowin-input">
          </div>
          <div class="lowin-group">
            <label>Email</label>
            <input type="email" autocomplete="email" name="email" class="lowin-input">
          </div>
          <div class="lowin-group">
            <label>Password</label>
            <input type="password" name="password" autocomplete="current-password" class="lowin-input">
          </div>
          <div class="lowin-group">
            <label>Confirm Password</label>
            <input type="password" name="password" autocomplete="current-password" class="lowin-input">
          </div>
          <button class="lowin-btn">
            Sign Up
          </button>

          <div class="text-foot">
            Already have an account? <a href="" class="login-link" routerLink="/auth/sign-in">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>